.todo-container {
  width: 90%;
}

.todo-form {
  background-color: #ff3cac;
  background-image: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);
  padding: 1rem 1rem 0.1rem 1rem;
  border-radius: 16px;
  box-shadow: 1px 1px 4px #655d5d;
}

.todo-container .todo-form label {
  color: #fff !important;
  font-size: 1.2rem !important;
}

.todo-list {
  background: #b7d6e4;
  margin-top: 2rem;
  border-radius: 15px;
  padding: 1rem;
}

.todo-list .single-items {
  display: flex;
  background: #3380c1;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  box-shadow: 1px 1px #808182;
  border-radius: 5px;
  align-items: center;
}

.todo-list .single-items .todo-title {
  font-size: 1.5rem;
  background: #fff;
  padding: 1rem;
  border-radius: 5px;
  margin-right: 1rem;
}

.todo-list .single-items .todo-desc {
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  margin-right: 1rem;
  flex-grow: 1;
}

.todo-list .single-items .action-btns .btn {
  padding: 1rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  cursor: pointer;
}

.action-btns .edit {
  background-color: #ecd319;
}

.action-btns .update {
  background-color: #16ce63;
}

.action-btns > .delete {
  background-color: #ce3b16;
}
